{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended"
  ],
  "rules": {
    "space-before-blocks": 1,
    "keyword-spacing": [
      "warn",
      {
        "after": true
      }
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "no-unused-vars": "warn",
    "max-len": [
      "error",
      {
        "code": 80
      }
    ],
    "semi": "warn"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/*.{j,t}s?(x)",
        "**/tests/unit/**/*.spec.{j,t}s?(x)"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}